{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
      </style> 

    <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/style.css' %}"
    />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
      </style> 
  </head>
  <body id="home">
    <div class="navbar s12">
      <nav id="banner">
        <div class="nav-wrapper">
            <ul> <a href="/">
              <li class="left">
                Charlotte.
              </li>
            </a>
            {% if user.is_authenticated %}
            <li class="right">
              <a id="text-color" href="{% url 'events_create' %}">Create Event</a>
            </li>
            <li class="right">
              <a id="text-color" href="{% url 'logout' %}">Sign Out</a>
            </li>
            <li class = "right">
              <a id="text-color" href="{% url 'saved_events' %}">Saved Events</a>
            </li>
            <li class = "right">
              <a id="text-color" href="{% url 'home' %}">Home</a>
            </li>
            <br/>
            <!-- <div id="header-welcome">Welcome {{user}}!</div> -->
            {% else %}
            <li class="right">
              <a id="text-color" href="{% url 'login' %}">Sign In</a>
            </li>
            <li class="right">
              <a id="text-color" href="{% url 'signup' %}">Sign Up</a>
            </li>
            <li class = "right">
              <a id="text-color" href="{% url 'home' %}">Home</a>
            </li>
            <br/>
            <!-- <div id="header-welcome">Hello there.</div> -->
            {% endif %}
          </ul>
        </nav>
      </div>

    <main>{% block content %} {% endblock %}</main>
    <footer>
      <div class="footer-container">
        <p class="footer-header">2022 Charlotte.</p>
        <p class = "footer-header"> <a href="#">Contact Us</a> • <a href="#">About</a> • <a href="#">Pricing</a> • <a href="#">Help</a> • <a href="#">Security</a> • <a href="#">Developers</a> • <a href="#">Accessibility</a> • <a href="#">Blog</a></p>
      </div>
    </footer>
    <script>
    var selectEl = document.getElementById('id_category');
      M.FormSelect.init(selectEl);
      let selectOptionsEls = document.querySelectorAll('[id^="select-options"]')
      for (let option of selectOptionsEls) {
        option.childNodes.forEach(li => {
          li.style.color = "#222093"
        })
       }

    document.addEventListener("DOMContentLoaded", function () {
    var elems = document.getElementById("id_date");
    var instances = M.Datepicker.init(elems, {
      format: "yyyy-mm-dd",
      setDefaultDate: true,
      autoClose: true,
      opacity: 1,
        });
     });

      // document.querySelector('.dropdown-trigger').style.color="#222093"
    </script>
  </body>
</html>
