{% extends 'base.html' %} {% block content %}
{% load static %}
<body id="home-container">
  <div class = "home-banner">
    <div class="home-banner-text">
      <h3 class = "home-banner-title">Let's Get Started</h3>
      <p>Charlotte. is the networking web YOU need to break into the Tech sector! At what is only the beginning of a technological revolution, entering the industry has never looked so compelling.</p>
    </div>
  </div>
  <div class="video-banner">
    <video autoplay muted loop id="myvideo" src="../static/images/background.mp4"></video>
    <div class="overlay">
      <p> At the core of this ruthless and competitive job hunting market, lies the most important aspect of breaking into tech: networking.</p>
    </div>
  </div>
  <h4 class="page-header">Available Events</h4>
  <div class="card-container">
  {% for event in events %}
  <!-- For each x in savedEvents, create a new card in the row with the details -->
      <div class="event-card" id="text-color">
      <a href="{% url 'detail' event.id %}">
            <div class="event-card-image">
              {% for photo in event.photo_set.all %}
              <img src="{{photo.url}}" class = "event-cardimg"/>
              {% empty %}
              <div id="text-color-brand">No Picture Uploaded.</div>
              {% endfor %}
            </div>
            <p id="event-card-title">{{ event.name }}</p>
            <p id="event-card-date">{{ event.date }}</p>
            <div class="event-card-text">
              <p id="event-card-details">{{ event.address }} • {{ event.location }}</p>
              <p id="event-card-details">Event Category: {{event.get_category_display}}</p>
          </div>
            </div>
      </a>
  {% endfor %}
  </div>
{% endblock %}
</body>
