{% extends 'base.html' %} {% block content %}
<body id="home-container">
  <h2 class="">Available Events:</h2>
  <hr class="home" />
  <div class="card-container">
  {% for event in events %}
  <!-- For each x in savedEvents, create a new card in the row with the details -->
      <div class="card" id="text-color">
      <a href="{% url 'detail' event.id %}">
          <div class="card-box">
            <div class="card-image">
              {% for photo in event.photo_set.all %}
              <img src="{{photo.url}}" />
              {% empty %}
              <div id="text-color-brand">No Picture Uploaded.</div>
              <br />
              {% endfor %}
            </div>
            <p id="card-title" class="center">{{ event.name }}</p>
            <p id="card-date">{{ event.date }}</p>
            <br />
            <div class="card-text">
              <p id="card-details">{{ event.address }} • {{ event.location }}</p>
              <p id="card-details">Event Category: {{event.get_category_display}}</p>
          </div>
          </div>
            </div>
      </a>
  {% endfor %}
  </div>
{% endblock %}
</body>
