{% extends 'base.html' %} {% block content %}
<h1 class="center">Saved Events</h1>
<hr />
{% for event in events %}
<!-- For each x in savedEvents, create a new card in the row with the details -->
<div class="row">
  <div class="col s12 m4 offset-m4">
    <a href="{% url 'detail' event.id %}">
      <div class="card">
        <div class="card-content bg shadow">
          <div class="card-image">
            {% for photo in event.photo_set.all %}
            <img src="{{photo.url}}" />
            {% empty %}
            <div id="text-color-brand">No Picture Uploaded.</div>
            {% endfor %}
          </div>
          <p id="event-card-title">{{ event.name }}</p>
          <p id="event-card-date">{{ event.date }}</p>
          <div class="event-card-text">
            <p id="event-card-details">
              {{ event.address }} • {{ event.location }}
            </p>
            <p id="event-card-details">
              Event Category: {{event.get_category_display}}
            </p>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

{% endfor %} {% endblock %}
