html {
  color: #222093;
  font-family: Roboto;
  font-weight: bolder;
}

#banner {
  background-color: #3a358d;
  color: white;
  height: 100px;
  box-shadow: none;
  padding-bottom: 20px;
}

#banner a {
  color: white;
}

#text-color-brand {
  color: #222093;
  font-weight: bold;
}

#text-color {
  color: #222093;
}

#roboto {
  font-family: Roboto;
  color: #222093;
}

#header-welcome {
  top: 50%;
  margin-left: 20px;
  color: white;
  position: absolute;
  z-index: 1000;
}

nav {
  position: sticky;
  z-index: 2000;
  display: block;
}

body {
  background-color: white;
}

.detailContainer {
  text-align: center;
}

#title {
  font-weight: bold;
  color: #1f1f7c;
  font-size: large;
}

.bg {
  background-color: white;
  border-radius: 25px;
}

#card-color {
  background-color: #262261;
  border-radius: 25px;
}

.input-field label {
  color: #000;
}

.shadow {
  box-shadow: #1f1f7c 10px 10px 10px;
}

#textarea1 {
  opacity: 0.5;
  border-bottom: none;
  color: #1f1f7c;
}

#logo {
  max-width: 40%;
  max-height: auto;
  margin: -5em;
}

#card-cover.login-form {
  padding: 1em;
}

#text-color-light {
  background-color: white;
}

::placeholder {
  color: #1f1f7c;
  opacity: 0.5;
}

#no-bottom-border {
  border-bottom: none;
}

.active {
  color: #1f1f7c;
  font-family: Roboto;
  background-color: white;
}

#login-form {
  padding: 20px;
  color: #222093;
}

#login-button {
  background-color: white;
  color: black;
}

label {
  color: black;
  font-size: 20px;
  font-weight: bold;
  font-family: Roboto;
  background-color: white;
}

input {
  text-align: center;
}

.link-color {
  background-color: white;
  font-weight: bold;
}

.dropdown-trigger {
  color: #1f1f7c;
}
hr {
  border: 1px solid #1f1f7c;
}

.btn {
  background-color: #1f1f7c;
  background-color: rgb(90, 60, 60);
}

.brand-logo {
  margin-left: -1em;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 80%;
}

.card-content img {
  width: 100%;
  margin: 0;
  padding: 0;
}

.card {
  transition: 0.3s;
  width: 15%;
  min-width: 250px;
  margin: 5px;
  margin: 15px;
  box-shadow: 1px 1px;
}

.card img {
  height: 100%;
}

.card-image {
  height: 150px;
}

#card-details,
#card-title {
  color: #222093;
}

#card-title {
  font-size: 30px;
  text-align: justify;
  margin-left: 10px;
}

#card-date {
  text-align: left;
}

#card-details {
  color: #6765c7;
}

.card-text {
  padding: 20px;
}

#card-date {
  color: #a782ec;
  text-align: justify;
  margin-left: 10px;
}

h2,
h3 {
  margin: 0px 0px 0px 20px;
}

.card:hover {
  transition: 0.3s;
  box-shadow: 10px 10px;
}

.right {
  float: right;
}

.left {
  float: left;
  font-size: 20px;
}

.navbar-fixed {
  margin-bottom: 10px;
  position: sticky;
}

.nav-wrapper {
  display: block;
  position: sticky;
}
.page-header {
  color: black;
}

.home-banner {
  display: flex;
  width: 100%;
  margin-right: 0;
  align-items: center;
  flex-direction: row;
  font-size: 1.5rem;
  height: 500px;
  background-color: #3a358d;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

.home-banner-text {
  margin-top: 20px;
  padding-bottom: 5%;
  margin-left: 5%;
  margin-right: 20%;
}

.home-banner-text p {
  margin: 0px 0px 0px 20px;
}

.about-section {
  margin-top: 125px;
  height: 500px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.about-section {
  background-color: #3a358d;
}

.about-header {
  color: white;
}

.double-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* width: 80%;
  margin: 0 auto; */
}

.card1,
.card2 {
  height: 100%;
  width: 50%;
  border: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.card1 img,
.card2 img {
  width: 100%;
}

.card-p {
  font-size: 20px;
  width: 80%;
  margin: 0 auto;
}

#friend-card {
  background-image: url("../images/friends.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
}

@media only screen and (max-width: 1068px) {
  .card-container {
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 950px) {
  .card1 {
    float: left;
    margin: 0 auto;
  }

  .card-2 {
    float: left;
  }

  .card-p {
    width: 100%;
    flex-wrap: wrap;
  }
}
