html {
  color: #222093;
  font-family: Roboto;
  font-weight: bolder;
}

#banner {
  background-color: #262261;
  color: white;
  height: 100px;
  padding: 1em 3em;
  box-shadow: none;
}

#banner a {
  font-weight: 1000;
  color: white;
}

#text-color-brand {
  color: #222093;
  font-weight: bold;
}

#text-color {
  color: #222093;
}
#roboto {
  font-family: Roboto;
  color: #222093;
}

#header-welcome {
  color: #222093;
}
body {
  background-color: white;
}

.detailContainer {
  text-align: center;
}

#title {
  font-weight: bold;
  color: #1f1f7c;
  font-size: large;
}

.bg {
  background-color: white;
  border-radius: 25px;
}

#card-color {
  background-color: #262261;
  border-radius: 25px;
}

.input-field label {
  color: #000;
}

.shadow {
  box-shadow: #1f1f7c 10px 10px 10px;
}

#textarea1 {
  opacity: 0.5;
  border-bottom: none;
  color: #1f1f7c;
}

#logo {
  max-width: 40%;
  max-height: auto;
  margin: -5em;
}

#card-cover.login-form {
  padding: 1em;
}

#text-color-light {
  background-color: white;
}

::placeholder {
  color: #1f1f7c;
  opacity: 0.5;
}

#no-bottom-border {
  border-bottom: none;
}

.active {
  color: #1f1f7c;
  font-family: Roboto;
  background-color: white;
}

#login-form {
  padding: 20px;
  color: #222093;
}

#login-button {
  background-color: white;
  color: black;
}

label {
  color: black;
  font-size: 20px;
  font-weight: bold;
  font-family: Roboto;
  background-color: white;
}

input {
  text-align: center;
}

.link-color {
  background-color: white;
  font-weight: bold;
}

.dropdown-trigger {
  color: #1f1f7c;
}
hr {
  border: 1px solid #1f1f7c;
}

.btn {
  background-color: #1f1f7c;
  background-color: rgb(90, 60, 60);
}

.brand-logo {
  margin-left: -1em;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

.card {
  transition: 0.3s;
  width: 20%;
  min-width: 350px;
}

.card img {
  border: solid #262261 1px;
}

.card:hover {
  transition: 0.3s;
  width: 21%;
}

.right {
  float: right;
}

.left {
  float: left;
  font-size: 12px;
}
