html {
  color: #222093;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

#banner {
  background-color: #3a358d;
  color: white;
  height: 100px;
  box-shadow: none;
  padding-bottom: 20px;
}

#banner a {
  color: white;
}

#text-color-brand {
  color: #222093;
  font-weight: bold;
}

#text-color {
  color: #222093;
}

#roboto {
  font-family: Roboto;
  color: #222093;
}

#header-welcome {
  top: 50%;
  margin-left: 20px;
  color: white;
  position: absolute;
  z-index: 1000;
}

nav {
  position: sticky;
  z-index: 2000;
  display: block;
}

body {
  background-color: rgb(245, 245, 245);
}

.detailContainer {
  text-align: center;
}

#title {
  font-weight: bold;
  color: #1f1f7c;
  font-size: large;
}

.bg {
  background-color: white;
  border-radius: 25px;
}

#card-color {
  background-color: #262261;
  border-radius: 25px;
}

.input-field label {
  color: #000;
}

.shadow {
  box-shadow: #1f1f7c 10px 10px 10px;
}

#textarea1 {
  opacity: 0.5;
  border-bottom: none;
  color: #1f1f7c;
}

#logo {
  max-width: 40%;
  max-height: auto;
  margin: -5em;
}

#card-cover.login-form {
  padding: 1em;
}

#text-color-light {
  background-color: white;
}

::placeholder {
  color: #1f1f7c;
  opacity: 0.5;
}

#no-bottom-border {
  border-bottom: none;
}

.active {
  color: #1f1f7c;
  font-family: Roboto;
  background-color: white;
}

#login-form {
  padding: 20px;
  color: #222093;
}

#login-button {
  width: 100%;
  background-color: #3a358d;
  box-shadow: inset 0 0 0 0 #100e96;
  transition: 0.4s;
}

#login-button:hover {
  box-shadow: inset 2000px 0 0 0 #010055;
  background-color: #3a358d;
  color: white;
}

label {
  color: black;
  font-size: 20px;
  font-weight: bold;
  font-family: Roboto;
  background-color: white;
}

input {
  text-align: left;
}

.link-color {
  background-color: white;
  font-weight: bold;
}

.dropdown-trigger {
  color: #1f1f7c;
}
hr {
  border: 1px solid #1f1f7c;
}

.btn {
  background-color: #3a358d;
  box-shadow: inset 0 0 0 0 #100e96;
  transition: 0.4s;
}

.btn:hover {
  box-shadow: inset 300px 0 0 0 #010055;
  background-color: #3a358d;
  color: white;
}

.brand-logo {
  margin-left: -1em;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 60%;
  opacity: 0;
}

.card-content img {
  width: 100%;
  margin: 0;
  padding: 0;
}

.event-card {
  transition: 0.3s;
  width: 15%;
  min-width: 250px;
  margin: 15px;
  box-shadow: 1px 1px;
}

.event-card img {
}

.event-cardimg {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.event-card-image {
  height: 150px;
}

#card-details,
#card-title {
  color: #222093;
}

#event-card-title {
  text-align: center;
  height: 60px;
  font-size: 20px;
  margin-top: 50px;
}

#event-card-details {
  color: #6765c7;
  text-align: center;
  display: block;
}

.event-card-text {
  padding: 20px;
  display: block;
}

#event-card-date {
  color: #a782ec;
  text-align: center;
  display: block;
}

.event-card:hover {
  transition: 0.3s;
  box-shadow: 10px 10px;
}

.right {
  float: right;
}

.left {
  float: left;
  font-size: 20px;
}

.navbar-fixed {
}

.nav-wrapper {
  display: block;
}
.page-header {
  color: #222093;
  text-align: center;
  font-weight: bold;
}

.home-banner {
  position: relative;
  display: flex;
  width: 100%;
  margin-right: 0;
  align-items: center;
  flex-direction: row;
  font-size: 1.5rem;
  height: 500px;
  background-color: #3a358d;
  color: white;
  font-family: "Times New Roman", Times, serif;
  z-index: 1000;
}

.home-banner-title {
  font-weight: bold;
  font-size: 40px;
  position: absolute;
  top: 40px;
  width: 100%;
  text-align: center;
}

.home-banner-text {
  transition: 0.5s;
  margin-top: 100px;
  text-align: center;
  line-height: 40px;
  font-weight: 500;
}

.home-banner-text p {
  width: 45%;
  margin: 0 auto;
}

.about-section {
  margin-top: 125px;
  height: 500px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.about-section {
  background-color: #3a358d;
}

.about-header {
  color: white;
}

.double-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* width: 80%;
  margin: 0 auto; */
}

.card1,
.card2 {
  height: 100%;
  width: 50%;
  border: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.card1 img,
.card2 img {
  width: 100%;
}

.card-p {
  font-size: 20px;
  width: 80%;
  margin: 0 auto;
}

#friend-card {
  background-image: url("../images/friends.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
}

footer {
  margin-top: auto;
  height: 75px;
  background-color: #3a358d;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-container {
  width: 80%;
  margin: 0 auto;
}

.footer-container a {
  color: white;
  text-decoration: none !important;
}

#myvideo {
  width: 100%;
  margin-top: -310px;
}

.footer-header {
  text-align: center;
}

.video-banner {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  background: rgb(0, 0, 0);
  background: rgba(39, 39, 39, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  height: 99%;
  opacity: 1;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.overlay p {
  bottom: 15%;
  position: absolute;
  text-align: center;
  left: 50%;
  width: 80%;
  transform: translateX(-50%);
}

.charlotteLogo {
  height: 50px;
}

@media only screen and (max-width: 1068px) {
  .card-container {
    justify-content: space-evenly;
    width: 80%;
  }
}

@media only screen and (max-width: 950px) {
  .event-card {
    margin: 0 auto;
  }
  .card1 {
    float: left;
    margin: 0 auto;
  }

  .card-2 {
    float: left;
  }

  .card-p {
    width: 100%;
    flex-wrap: wrap;
  }

  .home-banner-text {
    width: 100%;
    margin: 0 auto;
  }
  .home-banner-title {
    top: -20px;
  }
  .home-banner-text p {
    margin: 0 auto;
    width: 80%;
  }
  .home-banner {
    width: 100%;
    height: 300px;
  }

  #myvideo {
    margin-top: 0;
    height: 100%;
  }
  .card-container {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .card-container {
    width: 90%;
  }
  .event-card {
    width: 100%;
  }

  .home-banner-text,
  .home-banner-text p {
    width: 100%;
  }

  .overlay p {
    top: 20%;
    left: 50%;
    width: 80%;
    transform: translateX(-50%);
  }
  .home-banner-title {
    top: -10%;
  }
  .home-banner-text p {
    width: 95%;
  }
}

.fadeInY {
  -webkit-animation: fadeInY 0.3s both;
  -moz-animation: fadeInY 0.3s both;
  -o-animation: fadeInY 0.3s both;
  animation: fadeInY 0.3s both;
}

@-webkit-keyframes fadeInY {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInY {
  0% {
    opacity: 0;
    -moz-transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInY {
  0% {
    opacity: 0;
    -o-transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInY {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
